.navbar {
   height: 7.6vh;
   background-color: var(--clr-bg);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2.3rem;
   border-bottom: 1px solid rgba(96, 96, 120, 0.277);;
}

.logo {
   display: flex;
   align-items: center;
   gap: 8px;
   font-family: var(--font-display);
   text-decoration: none;
   color: inherit;
   font-weight: 800;
   font-size: 1.3rem;
}

.logo-icon {
   display: flex;
   align-items: center;
}

.login-link {
   color: var(--clr-text-1);
   font-size: .9rem;
   display: flex;
   align-items: center;
   gap: 6px;
}

.auth-btns {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 12px;
}

.login-btn, .register-btn {
   text-decoration: none;
}

.login-btn {
   font-family: var(--font-display);
   letter-spacing: .5px;
   font-size: .93rem;
   color: var(--clr-text-1);
   padding: 8px 16px;
   border-radius: 6px;
   transition: color 0.25s ease;
}

.login-btn:hover {
   color: hsl(240, 14%, 72%);
}

.register-btn {
   font-family: var(--font-display);
   letter-spacing: .5px;
   font-size: .92rem;
   font-weight: 500;
   color: var(--clr-text);
   padding: 8px 16px;
   border-radius: 6px;
   background-color: var(--clr-accent);
   transition: background-color 0.25s ease;
}

.register-btn:hover {
   background-color: hsl(243, 100%, 71%);
}

.user-icon {
   width: 2rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--clr-text);
   font-weight: 900;
   color: var(--clr-bg);
   border-radius: 100px;
   position: relative;
}

.user-icon-hover-box {
   font-weight: normal;
   color: var(--clr-text);
   position: absolute;
   display: none;
   top: 0;
   right: 0;
   z-index: 10;
   border-radius: 16px;
   padding-top: 2.5rem;
}

.user-icon:hover .user-icon-hover-box {
   display: block;
}

.user-icon-hover-box ul {
   list-style: none;
   margin: 0;
   padding: .5rem;
   background-color: var(--clr-bg);
   font-size: .92rem;
}

.user-icon-hover-box ul li {
   padding: .25rem .5rem;
   display: flex;
   align-items: center;
   gap: 3px;
   cursor: pointer;
}

.user-icon-hover-box ul li:hover {
   background-color: var(--clr-bg-light);
}